#!/bin/bash

# Set environment variables
export BOT_TOKEN=<BOT_TOKEN>
export HACKER_NEWS_API_URL=https://hacker-news.firebaseio.com/v0
export NOTIFICATION_CHAT_ID=<NOTIFICATION_CHAT_ID>
export CRON_SCHEDULE="* * * * *"
export MAX_STORIES=10
export STORY_AGE_HOURS=24
echo "✅ Environment variables loaded."